 <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Chat Fun!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="/sessions/new" class="page-scroll btn btn-xl">Let's Chat</a>
            </div>
        </div>
    </header>
